{% extends 'Blog/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>¿Quienes estamos detras de este proyecto?</h1>
                <br>
                    <br>
                    <h2>Nicolas Herrera</h2>
                    <p>Tiene 32 años. Es estudiante de Licencitura en Sistemas en la UNGS y actualmente se desempeña como Data Engineer en COA.
                        Reliazó los cursos en CODERHOUSE de Data Analtics, Data Science, Python y Cloud.
                    </p>
                    <br>
                    <h2>Nicolas Keiniger</h2>
                    <p> 
                        Tiene 21 años. Estudiante de tercer año Ingeniería Industrial y realizó el curso de Python en CoderHouse.
                        Gran apasionado del mundo de la ciencia y la tecnología, actualmente adentrandose en el mundo de la programación.
                    </p>
                    <br>
                    <h2>Nicolas Yunes</h2>
                    <p>  
                        Alumno de Coder House de 21 años. Con experiencia en Desarrollo Web. 
                        En este momento trabajando para Dataki, una software factory.
                    </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
