{% extends 'Blog/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<center><h1>¿Quienes estamos detras de este proyecto?</h1>
<br>
<br>
<h2>Nicolas Herrera</h2>
<p>Tiene 32 años. Es estudiante de Licencitura en Sistemas en la UNGS y actualmente se desempeña como Data Engineer en COA.
    Reliazó los cursos en CODERHOUSE de Data Analtics, Data Science, Python y Cloud.</p>
<br>
<h2> Nicolas Keiniger</h2>
<p> Tiene 21 años. Estudiante de tercer año Ingeniería Industrial y realizó el curso de Python en CoderHouse.
    Gran apasionado del mundo de la ciencia y la tecnología, actualmente adentrandose en el mundo de la programación.
</p>
<br>
<h2> Nicolas Yunes</h2>
<p>Nicolas Yunes  
    Alumno de Coder House de 21 anios. Con experiencia en Desarrollo Web. 
    <br>En este momento trabajando para Dataki, una software factory.</p></center>
{% endblock %}
